.navName{
  color: #dad7cd;
  text-shadow: 5px 5px 5px black;
}
.nav-bar{
  display: flex;
  background-color: #4d7460;
  justify-content: space-between;
}
.nav-bar .navLinks a.nav-link {
  color: #dad7cd;
}

a.nav-link:hover {
  text-shadow: 10px 10px 10px black;
}

.aboutMePage {
  background-color: #4d7460;
  color: #dad7cd;
  justify-content: center;
  padding: 50px;
  margin: 100px;
  box-shadow: 10px 10px 10px black;
}

.aboutHeader {
  text-align: center;
}

#root, html {
  background-color: #8B9094;
}

footer {
  background-color: #4d7460;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icons img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.icons img:hover {
  filter: brightness(1.5);
}

.icons {
  display: flex;
  justify-content: center;
}

body.no-scroll {
  overflow: hidden;
}

.contactForm {
  background-color: #4d7460;
  color: #dad7cd;
  justify-content: center;
  padding: 20px;
  margin: 50px;
  box-shadow: 10px 10px 10px black;
}